@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sniglet&display=swap"rel="stylesheet');

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;

  color: var(--color-medium);
  font-size: 1.4rem;
}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}
